<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>

<div id="page">

    <div class="header header-auto-show header-fixed header-logo-center">
        <a [routerLink]="['/index']" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="header-title">Gescannte Gerichte</a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i
                class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i
                class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-4">
        <a href="#" id="tab-0" class="tabs"><i class="fa fa-cog"></i></a>
        <a href="#" id="tab-1" class="tabs" style="color: #0f6674"><i class="fa fa-home"></i></a>
        <!--<a href="#" id="tab-2" class="tabs"><i class="fa fa-bars"></i></a>-->
    </div>

    <div class="page-title page-title-fixed">
        <a href="#" data-back-button class="page-title-icon shadow-xl color-theme" style="margin-left: 2%"><i
                class="fa fa-arrow-left"></i></a>
        <h1>Einstellung</h1>

        <a href="#" class="page-title-icon shadow-xl bg-yellow-dark color-theme" data-menu="menu-main"><i
                class="fa fa-plus"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content bg">
        <div class="content">
            <div class="card mb-0 mt-2 rounded-s" style="overflow-x: scroll">
                <div class="card-body">
                    <span>Private Informationen, die auf Ihrer Profilseite nicht angezeigt werden.</span>
                    <div class="d-flex mb-3">
                        <div class="pt-1">
                            <h5 data-activate="toggle-id-4" class="font-600 font-14">Dark Mode de/aktivieren</h5>
                        </div>
                        <div class="ml-auto mr-3 pr-2">
                            <div class="custom-control ios-switch switch-s">
                                <input data-toggle-theme-switch type="checkbox" class="ios-input" id="toggle-dark">
                                <label class="custom-control-label" for="toggle-dark"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>