<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>

<div id="page">

    <div class="header header-auto-show header-fixed header-logo-center">
        <a [routerLink]="['/index']" class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="header-title">Gescannte Gerichte</a>
    </div>

    <div class="page-title page-title-fixed">
        <a [routerLink]="['/index']" class="page-title-icon shadow-xl color-theme" style="margin-left: 2%"><i
                class="fa fa-arrow-left"></i></a>
        <h1>Einstellung</h1>
        <a href="#" class="page-title-icon shadow-xl bg-yellow-dark color-theme" data-menu="menu-main"><i class="fa fa-plus"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content bg">
        <div class="content">
            <div class="card mb-0 mt-2 rounded-s" style="overflow-x: scroll">
                <div class="card-body">
                    <div class="input-style input-style-2">
                        <span class="input-style-1-active">Username</span>
                        <em>(required)</em>
                        <input type="name" placeholder="First Name" [(ngModel)]="personalData.uname">
                    </div>
                    <div class="input-style input-style-2">
                        <span class="input-style-1-active">Vorname</span>
                        <em>(required)</em>
                        <input type="name" placeholder="First Name" [(ngModel)]="personalData.firstname">
                    </div>
                    <div class="input-style input-style-2">
                        <span class="input-style-1-active">Nachname</span>
                        <em>(required)</em>
                        <input type="name" placeholder="Last Name" [(ngModel)]="personalData.surname">
                    </div>
                    <div class="input-style input-style-2 mb-3 pb-1">
                        <span class="input-style-1-active">Email</span>
                        <em>(required)</em>
                        <input type="email" placeholder="Email" [(ngModel)]="personalData.email">
                    </div>
                    <div class="input-style input-style-2 mb-3 pb-1">
                        <span class="input-style-1-active">Dein Geschlecht:</span>
                        <select name="cars" id="geschlecht" [(ngModel)]="personalData.gender">
                            <option value="m">Männlich</option>
                            <option value="w">Weiblich</option>
                            <option value="s">Sonstiges</option>
                        </select>
                    </div>
                    <span (click)="edit();" class="btn btn-full btn-m bg-yellow-dark rounded-s font-13 font-600 mt-4">Änderungen
                        speichern</span>
                </div>
            </div>
        </div>
    </div>
</div>