<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>

<div id="page">

    <div class="header header-auto-show header-fixed header-logo-center">
        <a [routerLink]="['/index']" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="header-title">Dokumente</a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i
                class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i
                class="fas fa-moon"></i></a>
    </div>

    <div class="page-title page-title-fixed">
        <a href="#" data-back-button class="page-title-icon shadow-xl color-theme" style="margin-left: 2%"><i
                class="fa fa-arrow-left"></i></a>
        <h1>Dokumente</h1>

        <a href="#" class="page-title-icon shadow-xl bg-yellow-dark color-theme" data-menu="menu-main"><i
                class="fa fa-plus"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content bg">
        <div class="content mb-3">
            <div class="search-box search-dark shadow-xl border-0 bg-theme rounded-sm">
                <i class="fa fa-search"></i>
                <label>
                  <input type="text" class="border-0" placeholder="Suche " data-search>
                </label>
            </div>        
        </div>

        <div class="search-results">
            <div class="card card-style" data-filter-item attr.data-filter-name="all">
                <div class="content mx-1 mb-1">
                    <span><i class="fa fa-2x fa-folder float-left color-red-dark mr-3"></i></span>
                    <span><i class="fa fa-arrow-right float-right mr-1 mt-1"></i></span>
                    <h3 class="">Foldername1</h3>
                </div>
            </div>
            <div class="card card-style" data-filter-item attr.data-filter-name="all">
                <div class="content mx-1 mb-1">
                    <span><i class="fa fa-2x fa-folder float-left color-green-dark mr-3"></i></span>
                    <span><i class="fa fa-arrow-right float-right mr-1 mt-1"></i></span>
                    <h3 class="">Foldername2</h3>
                </div>
            </div>
            <div class="card card-style" data-filter-item attr.data-filter-name="all">
                <div class="content mx-1 mb-1">
                    <span><i class="fa fa-2x fa-folder float-left color-black mr-3"></i></span>
                    <span><i class="fa fa-arrow-right float-right mr-1 mt-1"></i></span>
                    <h3 class="">Foldername3</h3>
                </div>
    
            </div>
        </div>
        
        <div class="search-no-results disabled mt-4">
            <div class="card card-style mx-2">
              <div class="content">
                <p class="mb-n1 font-600 color-highlight">Sorry, there are</p>
                <h1>No Results</h1>
                <p>
                  Your search brought up no results. Try using a different keyword. Or try typying all
                  to see all items in the demo. These can be linked to anything you want.
                </p>
              </div>
            </div>
          </div>

    </div>
</div>